<% include ../partials/header %>

</head>
<body>

<% include ../partials/navbar %>

<h1>Index of Events</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      Event 1 Here
    </div>
    <div class="col-md-4">
      Event 2 Here
    </div>
    <div class="col-md-4">
      Event 3 Here
    </div>
  </div>
</div>

<% include ../partials/footer %>
