<% include ./partials/header %>

</head>
<body>

<% include ./partials/navbar %>

<h1>Login to Access Events</h1>
<form action="/login" method="POST">
  Form Here
  <button>Login</button>
</form>

<% include ./partials/footer %>
