<% include ../partials/header %>

</head>
<body>

<% include ../partials/navbar %>

<div class="container">
  <div class="row mt-5 border-bottom">
    <div class="col-md-3 pl-0">
      <h1><%= currentUser.username %></h1>
    </div>
    <div class="col-md-9 d-flex justify-content-around align-items-center">
      <a class="align-middle text-decoration-none" href="#" id="workers-button">Workers</a>
      <a class="align-middle text-decoration-none" href="#" id="participants-button">Participants</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 pl-0">
      <a class="btn btn-success text-light mt-3">
        Edit Profile
      </a>
      <h6 class="mt-2 font-weight-light"><%= currentUser.email %></h6>
      <h6 class="mt-1 font-weight-light"><%= currentUser.phone %></h6>
    </div>
    <div class="col-md-9 p-2 d-flex flex-column justify-content-center">
      <!-- Repeat for each worker -->
      <div class="d-flex justify-content-between mt-3 mb-3">
        <h4>First Last</h4>
        <a class="btn btn-success"href="#">Edit</a>
      </div>

    </div>
  </div>

</div>

<% include ../partials/footer %>

<!--
Include:
- Username
- Details (email, phone, etc.) with link to edit
- List of Workers with links to edit
- List of Participants with links to edit
- Button to change password
- Button to send password reset
  -->
